:root {
  /* Font */
  font-family: "Figtree", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* Font weights */
  --fw-medium: 500;
  --fw-extra-bold: 800;

  /* Font sizes Desktop */
  --fs-desk-small: 0.875rem; /* 14px */
  --fs-desk-medium: 1rem; /* 16px */
  --fs-desk-large: 1.5rem; /* 24px */

  /* Font sizes Mobile */
  --fs-mobile-small: 0.75rem; /* 12px */
  --fs-mobile-medium: 0.875rem; /* 14px */
  --fs-mobile-large: 1.25rem; /* 20px */

  /* Spacing */
  --space-50: 0.25rem; /* 4px */
  --space-100: 0.5rem; /* 8px */
  --space-150: 0.75rem; /* 12px */
  --space-300: 1.5rem; /* 24px */

  /* Radius */
  --radius-4: 0.25rem; /* 4px */
  --radius-10: 0.625rem; /* 10px */
  --radius-12: 0.75rem; /* 12px */
  --radius-20: 1.25rem; /* 20px */

  /* Colors */
  --yellow: #f4d04e;
  --gray-500: #6b6b6b;
  --gray-950: #111111;
  --white: #ffffff;
  --shadow: 8px 8px 0 0 black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/static/Figtree-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Text presets */
.text-preset-1 {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-desk-large);
  font-size: clamp(
    var(--fs-mobile-large),
    0.57vw + 1.12rem,
    var(--fs-desk-large)
  );
}
.text-preset-2 {
  font-weight: var(--fw-medium);
  font-size: var(--fs-desk-medium);
  font-size: clamp(
    var(--fs-mobile-medium),
    0.38vw + 0.8rem,
    var(--fs-desk-medium)
  );
}
.text-preset-3 {
  font-weight: var(--fw-medium);
  font-size: var(--fs-desk-small);
  font-size: clamp(
    var(--fs-mobile-small),
    0.19vw + 0.7rem,
    var(--fs-desk-small)
  );
}
.text-preset-3-bold {
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-desk-small);
  font-size: clamp(
    var(--fs-mobile-small),
    0.19vw + 0.7rem,
    var(--fs-desk-small)
  );
}

body {
  font-family: inherit;
  color: var(--gray-950);
  background-color: var(--yellow);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: var(--radius-20);
  box-shadow: var(--shadow);
  padding: var(--space-300);
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  width: clamp(20.5rem, 60vw, 24rem);
  max-width: 100vw;
}

.app > img {
  width: 100%;
  /* height: 200px; */
  border-radius: var(--radius-10);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-150);
  width: 100%;
}

.category {
  display: inline-block;
  background-color: var(--yellow);
  padding: var(--space-50) var(--space-150);
  border-radius: var(--radius-4);
  align-self: flex-start;
}

.description {
  color: var(--gray-500);
}

.author {
  display: flex;
  align-items: center;
  gap: var(--space-150);
}

.author img {
  width: 2rem;
  height: 2rem;
}

.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

/* Responsive styles */
/*


Disktop styles     --->  Mobile styles 
--fs-small: 14px;  --->  --fs-small: 12px;
--fs-medium: 16px; --->  --fs-medium: 14px;
--fs-large: 24px;  --->  --fs-large: 20px;

Difference = Max - Min = 14px - 12px = 2px  
Viewport range = 1440px - 375px = 1065px  
vw = (Difference / Viewport range) × 100 = (2 / 1065) × 100 ≈ 0.19vw


font-size: clamp(12px, 0.19vw + 0.7rem, 14px);
font-size: clamp(14px, 0.38vw + 0.8rem, 16px);
font-size: clamp(20px, 0.57vw + 1.120rem, 24px);



*/
